<div class="profile-card">
  <div class=edit-box>
    <% if user_signed_in? && current_user.id %>
        <%= link_to '会員情報 編集', edit_user_path, class: "edit-btn" %>
    <% end %>
  </div>
  <div class="profile-card__inner">
    <div class="profile-thumb">
      <%= image_tag @user.image %>
    </div>
    <div class="profile-content">
      <span class="profile-name"><%= @user.name %></span>
      <span class="profile-job"><%= @user.skill %></span>
      <span class="profile-intro"><%= @user.introduction%></span>
    </div>
    </div>
  </div>
</div>
