<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のキャッチ部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
    スキマ時間で広島を健康にする。
    </h2>
    <p class='service-explain'>
      人生100年時代で、働くも遊ぶも、健康は必須。
    </p>
    <p class='service-explain2'>
      〜スキマ時間を健康で埋める〜
    </p>
  </div>>

  <%# スキマ支援の流れ %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      スキマ運動の流れ
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "top8.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>1分</span>
          の無料登録
        </h3>
        <p class='reason-list-description'>
          スマホで誰でも簡単登録。登録後すぐに始められる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top5.png", class:"list-pict" %>
        <span class='reason-list-number'>２</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>忙しい</span>
          合間に
        </h3>
        <p class='reason-list-description'>
          仕事の休憩や在宅の合間、家事や育児の合間に参加。又はレッスン開催。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "sumaho2.png", class:"list-pict" %>
        <span class='reason-list-number'>３</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>スマホ</span>
          で予約決済。
        </h3>
        <p class='reason-list-description'>
          スムーズな予約とカード決済。開始5分前まで予約可。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top11.png", class:"list-pict" %>
        <span class='reason-list-number'>４</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>15分〜</span>
          レッスン参加
        </h3>
        <p class='reason-list-description'>
          オンラインで、仕事、在宅、育児の合間でダイエットや、ストレスマネジメント。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top20.png", class:"list-pict" %>
        <span class='reason-list-number'>５</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>親近感</span>
          講師も広島
        </h3>
        <p class='reason-list-description'>
          初対面でも親近感！！！！広島で活躍するインストラクター限定です！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top22.png", class:"list-pict" %>
        <span class='reason-list-number'>6</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>継続</span>
          をサポート！
        </h3>
        <p class='reason-list-description'>
          一人じゃない！心が折れそうな時も、画面越しでサポート！
        </p>
      </li>
    </ul>
  </div>

  <%# 講師募集 %>
  <div class='feature-contents'>
    <h2 class='title'>
      広島で活動するインストラクター募集！
    </h2>
    <%= link_to '新規インストラクター登録', new_lesson_path, class: "subtitle" %>
  </div>

  <%# 画面中央キャッチ部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      継続に必要なことは、日常化にすること。
    </h2>
    <h2 class='ad-title'>
      我々は、運動を日常化させる。
    </h2>
    <p class='ad-explain'>
      誰のためでもなく、自分自身のために
    </p>
    <p class='ad-explain'>
      私たちは、もっと挑戦できる。
    </p>
  </div>
  
  <%# レッスン一覧 %>
  <div class='item-contents'>
    <h2 class='title'>開催レッスン一覧</h2>
    <ul class='item-lists'>
      <% @lessons.each do |lesson| %>
        <% if lesson.lesson_date > Date.today %>
          <li class='list'>
            <%= link_to lesson_path(lesson.id) do %>
              <div class='item-img-content'>
                <%= image_tag lesson.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= lesson.name %>
                </h3>
                <div class='item-price'>
                  <span><%= lesson.price %>円<br>(税込み)</span>
                  <div class='star-btn'>
                    <%= image_tag "star.png", class:"star-icon" %>
                    <span class='star-count'>0</span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>