<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のキャッチ部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      運動で支援する。
    </h2>
    <p class='service-explain'>
      スキマ時間の指導が支援となる。
    </p>
    <p class='service-explain2'>
      #スキマ支援 #募金プラットフォーム
    </p>
  </div>>

  <%# スキマ支援の流れ %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      スキマ支援の流れ
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "top8.png", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>1分</span>
          の無料登録
        </h3>
        <p class='reason-list-description'>
          スマホで誰でも簡単登録。登録後すぐに始められる。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top5.png", class:"list-pict" %>
        <span class='reason-list-number'>２</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>忙しい</span>
          合間で。
        </h3>
        <p class='reason-list-description'>
          仕事の休憩や在宅の合間、家事や育児の合間でも
        </p>
      </li>
      <li class='list'>
        <%= image_tag "sumaho2.png", class:"list-pict" %>
        <span class='reason-list-number'>３</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>スマホ</span>
          で予約決済。
        </h3>
        <p class='reason-list-description'>
          スムーズな予約とカード決済。開始5分前まで予約可。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top11.png", class:"list-pict" %>
        <span class='reason-list-number'>４</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>15分〜</span>
          レッスン参加
        </h3>
        <p class='reason-list-description'>
          仕事や育児など自身のケアと、ストレスマネジメント。痩せやすい身体づくりも。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top13.png", class:"list-pict" %>
        <span class='reason-list-number'>５</span>
        <h3 class='reason-list-text'>
          運動で
          <span class='reason-list-blue-text'>手助け。</span>
        </h3>
        <p class='reason-list-description'>
          自分のためのスキマ運動が、やればやるだけ支援に。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "top12.png", class:"list-pict" %>
        <span class='reason-list-number'>6</span>
        <h3 class='reason-list-text'>
          誰もが
          <span class='reason-list-blue-text'>指導者に。</span>
        </h3>
        <p class='reason-list-description'>
          また、自分の知識の提供が、違う形（支援）へ変化する。
        </p>
      </li>
    </ul>
  </div>

  <%# 指導者 %>
  <div class='feature-contents'>
    <h2 class='title'>
      あなたの知識を違う形へ。
    </h2>
    <%= link_to '新規レッスン追加', new_lesson_path, class: "subtitle" %>
  </div>

  <%# 画面中央キャッチ部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      ある者は知識の提供が支援となり、
    </h2>
    <h2 class='ad-title'>
      またある者は運動に支払った費用が支援に。
    </h2>
    <p class='ad-explain'>
      オンラインレッスンで、一緒に継続しよう！
    </p>
    <p class='ad-explain'>
      オフィス、自宅、移動中、どこでもできるエクササイズ多数！
    </p>
  </div>

  

  <%# レッスン一覧 %>
  <div class='item-contents'>
    <h2 class='title'>開催レッスン一覧</h2>
    <ul class='item-lists'>
      <% @lessons.each do |lesson| %>
        <li class='list'>
          <%= link_to lesson_path(lesson.id) do %>
            <div class='item-img-content'>
              <%= image_tag lesson.image, class: "item-img" %>
            </div>
            <div class='item-info'>
              <h3 class='item-name'>
                <%= lesson.name %>
              </h3>
              <div class='item-price'>
                <span><%= lesson.price %>円<br>(税込み)</span>
                <div class='star-btn'>
                  <%= image_tag "star.png", class:"star-icon" %>
                  <span class='star-count'>0</span>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>