<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部のキャッチ部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
    スキマ時間で広島を健康にする。
    </h2>
    <p class='service-explain'>
      人生100年時代で、働くも遊ぶも、健康は必須。
    </p>
    <p class='service-explain2'>
      〜スキマ時間を健康で埋める〜
    </p>
  </div>

  <div class='top-back'>
    <%# スキマ支援の流れ %>
    <div class='select-reason-contents'>
      <h2 class='title'>
        スキマ健康の流れ
      </h2>
      <ul class='reason-lists'>
        <li class='list'>
          <%= image_tag "top8.png", class:"list-pict" %>
          <span class='reason-list-number'>1</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>1分</span>
            の無料登録
          </h3>
          <p class='reason-list-description'>
            スマホで誰でも簡単登録。登録後すぐに始められる。
          </p>
        </li>
        <li class='list'>
          <%= image_tag "top5.png", class:"list-pict" %>
          <span class='reason-list-number'>２</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>忙しい</span>
            合間に
          </h3>
          <p class='reason-list-description'>
            仕事の休憩や在宅の合間、家事や育児の合間に参加。又はレッスン開催。
          </p>
        </li>
        <li class='list'>
          <%= image_tag "sumaho2.png", class:"list-pict" %>
          <span class='reason-list-number'>３</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>スマホ</span>
            で予約決済。
          </h3>
          <p class='reason-list-description'>
            スムーズな予約とカード決済。開始5分前まで予約可。
          </p>
        </li>
        <li class='list'>
          <%= image_tag "top11.png", class:"list-pict" %>
          <span class='reason-list-number'>４</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>15分〜</span>
            レッスン参加
          </h3>
          <p class='reason-list-description'>
            オンラインで、仕事、在宅、育児の合間でダイエットや、ストレスマネジメント。
          </p>
        </li>
        <li class='list'>
          <%= image_tag "top20.png", class:"list-pict" %>
          <span class='reason-list-number'>５</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>親近感</span>
            継続サポート
          </h3>
          <p class='reason-list-description'>
            物理的な親近感、広島で活躍するインストラクターが、画面越しで継続サポート！
          </p>
        </li>
        <li class='list'>
          <%= image_tag "top25.png", class:"list-pict" %>
          <span class='reason-list-number'>6</span>
          <h3 class='reason-list-text'>
            <span class='reason-list-blue-text'>ストレス</span>
            自身をケア
          </h3>
          <p class='reason-list-description'>
            自分のために、自分をケアする。一人で抱えず、一緒に運動で晴らそう！
          </p>
        </li>
      </ul>
    </div>

    <div class='sukima-point'>
      <div class='sukima-top'>
        <h2 class='sukima-title'>
        スキマ健康の概念
        </h2>
      </div>
      <div class='sukima-content'>
        <h2 class='sukima-title'>
        ー 良くも悪くも、人の寿命はのびる ー
        </h2>
        <p>人生100年時代で、我々のライフスタイル、働く年数も長くなる。</p>
        <p>働くも、遊ぶも、健康への投資が必要な時代だ。</p>
      </div>
      <div class='sukima-content'>
        <h2 class='sukima-title'>
        ー もっとも価値の高いものは、時間だ ー
        </h2>
        <p>仕事、家事、育児、性別を問わず、誰もが忙しい時代。</p>
        <p>運動だけのために時間はとれない。そう、運動はスキマ時間にするものだ。</p>
      </div>
      <div class='sukima-content'>
        <h2 class='sukima-title'>
        ー 広島という親近感が、継続に繋がる ー
        </h2>
        <p>学習とは違い、健康は自分自身が体験から獲得するものだ。</p>
        <p>No.1講師は必要ない。親近感ある関係性の中で、「楽しむ」を優先する。</p>
      </div>
    </div>
  </div>

  <%# 講師募集 %>
  <div class='feature-contents'>
    <h2 class='title'>
      広島で活動するインストラクター紹介！
    </h2>
    <%= link_to 'インストラクターご紹介！', users_path, class: "subtitle" %>
  </div>

  <%# 画面中央キャッチ部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      継続に必要なことは、日常化にすること。
    </h2>
    <h2 class='ad-title'>
      我々は、運動を日常化させる。
    </h2>
    <p class='ad-explain'>
      誰のためでもなく、自分自身のために
    </p>
    <p class='ad-explain'>
      私たちは、もっと挑戦できる。
    </p>
  </div>
  
  <%# レッスン一覧 %>
  <div class='item-contents'>
    <h2 class='title'>開催レッスン一覧</h2>
    <ul class='item-lists'>
      <% @lessons.each do |lesson| %>
        <% if lesson.lesson_date > Date.today %>
          <li class='list'>
            <%= link_to lesson_path(lesson.id) do %>
              <div class='item-img-content'>
                <%= image_tag lesson.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= lesson.name %>
                </h3>
                <div class='item-price'>
                  <span><%= lesson.price %>円<br>(税込み)</span>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>