<%= render "shared/header" %>

<%# レッスン詳細 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @lesson.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @lesson.image ,class:"item-box-img" %>
    </div>
  
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">レッスン名</th>
          <td class="detail-value"><%= @lesson.name %></td>
        </tr>
        <tr>
          <th class="detail-item">運動量</th>
          <td class="detail-value"><%= @lesson.level.name %></td>
        </tr>
        <tr>
          <th class="detail-item">レッスン説明</th>
          <td class="detail-value"><%= @lesson.text %></td>
        </tr>
        <tr>
          <th class="detail-item">開催日</th>
          <td class="detail-value"><%= @lesson.lesson_date %></td>
        </tr>
        <tr>
          <th class="detail-item">開催時間</th>
          <td class="detail-value"><%= @lesson.bigin_at.strftime('%H:%M') %> 〜 <%= @lesson.closed_at.strftime('%H:%M') %></td>
        </tr>
        <tr>
          <th class="detail-item">参加料金</th>
          <td class="detail-value">¥<%= @lesson.price %></td>
        </tr>
        <tr>
          <th class="detail-item">講師紹介</th>
          <td class="detail-value">
          <%= link_to @lesson.user.name, user_path(@lesson.user) %>
          </td>
        </tr>
      </tbody>
    </table>
    <p>購入後に、ZOOM IDとパスワードが表示されます。</p>
    <table class="detail-table">
      <tbody>
        <% if user_signed_in? && current_user.id == @order_user_id%>
          <tr>
            <th class="detail-item">ZOOM ID(URL)</th>
            <td class="detail-value"><%= link_to "こちら", @lesson.zoom_url %></td>
          </tr>
          <tr>
            <th class="detail-item">ZOOM パスワード</th>
            <td class="detail-value"><%= @lesson.zoom_password %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%# ログインユーザーとレッスン投稿ユーザーが、同一人物の場合 %>
    <% if user_signed_in? && current_user.id == @lesson.user_id %>
      <%= link_to 'レッスン編集', edit_lesson_path, method: :get, class: "item-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', lesson_path, method: :delete, class:'item-destroy' %>
    <%# 未ログインユーザーの場合 %>
    <% elsif user_signed_in? && current_user.id != @order_user_id%>
      <%= link_to '購入画面に進む', lesson_orders_path(@lesson.id),class:"item-red-btn1"%>
    <% end %>

    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
  </div>

  <div class="comment-box">
    <form>
      <textarea class="comment-text"></textarea>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <button type="submit" class="comment-btn">
        <%= image_tag "comment.png" ,class:"comment-flag-icon" ,width:"20",height:"25"%>
        <span>コメントする<span>
      </button>
    </form>
  </div>
  <div class="links">
    <%= link_to "＜前の商品", lesson_path(@lesson.id + 1), class: 'change-item-btn' %>
    <%= link_to "後ろの商品＞", lesson_path(@lesson.id - 1), class: 'change-item-btn' %>
  </div>
  <%= link_to "トップページへ", root_path, class: 'another-item' %>
</div>

<%= render "shared/footer" %>
